<% if logged_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'memories/memories', memories: @memories %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>旅の思い出をシェアしよう</h1>
      <%= link_to '旅の思い出をシェアする', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

