body {
  background-image: url(b32459dd1e515e0ca748cf5396b9a350_s.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*height: 500px;*/
}


.title {
  text-align: center;
  width: auto;
  margin-top: 150px;
}
.title h1{
  font-size: 50px;
}

.title p{
  font-size: 20px;
}

